/* CSS për header që nuk ndikon në pjesën tjetër */
#mainHeader {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0; /* Mos ndiko në seksionet e tjera */
}

#mainHeader .logo h1 {
    color: white;
    margin: 0;
    font-size: 1.5em;
}

#mainHeader nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

#mainHeader nav ul li {
    margin-left: 20px;
}

#mainHeader nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

#mainHeader nav ul li a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

/* Stilet për ikonën Admin Login */
#mainHeader nav ul li img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#mainHeader nav ul li img:hover {
    transform: scale(1.1);
}
